<header>
  <h1>Criptomarket</h1>
</header>
<main>

  <!-- here start the container that wraps the main -->
  <div>

    <!-- here start the container that order the target -->
    <section class="container_target__products" data-aos="fade-right">

      <!-- this wraps the target for each product -->
      <section *ngFor="let product of products" class="target__product">
        <p>{{product.name}}</p>

        <!-- this is the figure that wraps the image from product -->
        <figure>
          <img [src]="product.image" alt="">
        </figure>
        <!-- here finishes the figure that wraps the image from product -->

        <p>Precio : ${{product.price}}</p>

        <button [disabled]="btnDisabled" (click)="btnAdd(product)">Agregar</button>
      </section>
      <!-- here finishes the container that wraps the target for each product -->

    </section>
    <!-- here finishes the container that order the targets -->

    <div class="container__target__buy">
      <p>Lista de productos : </p>
      <ul>
        <p>Saldo actual : <span>${{person.balanced}}</span></p>
        <li *ngFor="let item of arrayProduct as any">{{ item.name }} - ${{ item.price }}</li>
        <p *ngIf="person.balanced===0 && person.buy ===false">Te haz quedado sin saldo</p>
        <p *ngIf="person.buy===true">¡Felicidades tu compra ha sido exitosa!</p>
        <button [disabled]="btnBuy" (click)="buyProducts()">Comprar</button>
        <button [disabled]="btnReload" (click)="Reloadbuy()">Reiniciar compra</button>
      </ul>
    </div>

  </div>
  <!-- here start the container that wraps the main -->

</main>
